body {
  font-family: Lato, sans-serif;
  min-height: 600px;
  background-image: url('https://pyxis.nymag.com/v1/imgs/b74/c89/3e5563ee079d1c88ce090908172ab0af8e-dagobah-2.2x.w710.jpg');
  background-color: #000000;
  background-size: auto;
  background-position: center-top;
  background-repeat: no-repeat;
  max-height: 90px;
  overflow:hidden;
}
  
section {
  float:left;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  height: 800px;
  margin-top: -10px;
  background-color: #000000;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 50px;
}

.page-title {
  font-size: 35px;
  color: #ffffff;
  margin-top: 10px;
}
  
.page-subtitle {
  color: #ffffff;
  margin-top: 10px;
  display: inline-block;
}


img {
  display: inline-block;
  float: right;
  vertical-align: top;
  margin-top: 180px;
}


.esquema input {
  width: 70px;
  height: 10px;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.esquema button {
  width: 60px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border: 0;
  color: #ffffff;
  background: #2E7D32;
  cursor: pointer;
}

.esquema button:disabled {
  background: rgba(22, 55.7, 23.5, 0.8);
  cursor: auto
}

.resultado {
  margin-top: 20px;
  color: #ffffff;
  padding: 15px;
}

.refresh {
  width: 120px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border: 0;
  color: #ffffff;
  background: #2E7D32;
  cursor: pointer;
}
